 

body{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
}
@media screen and (min-width:1550px){
    .main-box{
        max-width: 80%; 
    }
    .think-outside-image{
        max-width:13vw;
        max-height: 11vw;
        

    }
}
.main-box{
    width: 100%;
}
.ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.a{
    text-decoration: none;
}
.main-navigation{
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.main-navigation-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.main-navigation-hiperlink:hover {
    color: #df9f50;
}
.main-navigation-hiperlink{
    padding: 1%;
    flex-grow: 1;
    color: white;
    font-size: 18px;
    margin:0 1% 0 1%;
}
.main-navigation-element{
    text-align: center;
}
.main-header{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin: 0;

}
.header-back-image{
    position: relative;
    background-size:100%;
    width:100%;
    min-height:400px;
    background-image:url(pictures/geader_picture_twoo.JPG);
    background-repeat: no-repeat;
}
.think-outside-image{
    position: absolute;
    top:20%;
    right:4%; 
    width: 18vw;
    height: 18vw;
    background-image:url(pictures/header_picture_two.JPG);
    background-size:100%,100%;
    background-repeat: no-repeat;
    transform: rotate(11deg);
    transition: width 2s,
    height 2s,
    transform 2s;
}
.self-intro{
    text-align: center;
    padding: 0;
    position: absolute;
    left:14.5vw;
    top:4vw;
    box-sizing: border-box;
    color:white;
    text-shadow: 2px 2px 5px black;
    letter-spacing: 2px;
}
.first-header{
    margin: 0 0 1vh 0;
    font-size:70px;
    color:#df9f50;
}
.second-header{
    font-size: 30px;
    margin: 0.5vw 0 0 0;
    font-weight: bolder;
}
.second-header-span{
    color:#df9f50;
}

.social-media-lists{
    position: absolute;
    left:18%;
    width: 55%;
    margin:2vw;
    padding: 1%;
}
.fab{
    position: relative;
    color:white;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    z-index:1;
    transition: width 1s,
    height 1s,
    transform 1s;
}

.social-media:hover {
    transform: rotate(360deg);
}
.fa-facebook-square:hover {
    transform: rotate(-360deg);
}
main{
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
}
.section{
    margin:0 0 1vw 0;
}

.third-header{
    font-size: 25px;
    padding: 1vw 0 0 0;
    color: #df9f50;
    margin:0 0 0 4vw;
}
.section-check-what-i-can {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 0;
}
.what-i-can-section-header_third{
    font-size: 25px;
    color: black;
    text-align: center;
    margin:0 0 1.5vh 0;
}
.section-header-check-what-i-can{
    margin: 0;
    margin: 0;
    max-width:55%;
}
.what-i-can-article-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width:55%;
}
.button-contack-skills{
    color:black;
    min-width: 150px;
    padding: 2%;
    display: flex;
    justify-content: center;
    border-radius:10px;
    background-color: #df9f50;
    margin: 0.5vw 5vw 1.5vw 5vw;
}
.button-contack-skills:hover {
    color: white;
    background-color: black;
}
.section-about-me{
    background-color: #323232;
    color:white;
}
.article-section-about-me {
    padding: 1%;
    margin: 0;
    font-size: 18px;
    display: flex;
    justify-content: center;
}
.box-info-about-me{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 85%; */
    margin: 0 0 1vw 2vw;
}
.box-elements-info-about-me{
    margin:0 3.5vh 0 3.5vh;
    padding: 0;
}
.my-picture {
    background-image: url(pictures/my_picture.jpg);
    min-width: 160px;
    min-height: 150px;
    max-height: 160px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 100%;
    margin:0.5vw 2vw 0 0;
}
.personal-data {
    display: flex;
}
.my-personal-data {
    color: #df9f50;
    word-wrap:wrap break-word;
}
.my-description{
    word-wrap:break-word;
    max-width: 25vw;
    line-height: 1.6;
    text-align: justify;
}
.skills-section-header-third {
    color:black;
}
.all-technologies-list{
    display: flex;
    margin:2%;
}
.hiper-techno {
     box-shadow:10px 10px 10px 10px  #634f47;
     background-color:#df9f50;
     padding: 1%;
     display: flex;
     flex-direction: column;
     text-align: center;
     flex-grow:1;
     margin: 1vw; 
}
.languages-inscription{
    color: black;
    font-size: 30px;
    margin: 1%;
}
.languages-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}
.language-icon{
    color:#092e20;
    margin: 5px 25px 0 25px;
}
.hiper-techno:hover {
    transform: scale(1.1);
    background-color: white;
    color: white;
}
.language-name{
    color: black;
    margin: 0;
}

.django-icon-box{
    border:solid #092e20;
    background-color: #092e20;
    min-height: 130px;
}
.django-icon{
    background-image: url(pictures/django_logo.svg);
    width: 120px;
    min-height: 50px;
    background-size:100%;
    background-repeat: no-repeat;
    background-color: #092e20;
    /* border: solid red; */
    /* padding: 100px; */
    box-sizing: border-box;
    margin:30% 0 0 0;
}
.portfolio-section-header-third{
    color:black;
}
.portfolio-list{
    display: grid;
    grid-gap: 20px;
    grid-template-columns:repeat(auto-fill, 480px) ;
     /* grid-template-rows: 300px 300px; */
     justify-content: center;
     border: solid white;
}
.portfolio-section-video{
    max-width:100%;
}
.section-portfolio-hiperlink{
    position:relative;
    transition: width 1s,
    height 1s,
    transform 1s;
    /* border: solid red; */

}
.section-portfolio-hiperlink:hover{
    transform: rotateY(180deg);
    background-color: #323232;

}
.blur-bar-on-video{
    position:absolute;
    z-index: 0;
    /* color: red; */
    width: 100%;
    height: 15%;
    bottom:0;
    margin: 0;
    background: rgba(0, 0, 0, 0.9);
    filter: blur(2px); 
}
.video-header-box{
    position: absolute;
    z-index: 3;
    height: 25px;
    bottom: 0;
    /* border:solid red; */
    width: 100%;
    padding: 1.5%;
    text-align: center;
    
}
.portfolio-section-video-header{
    z-index: 1;
    height: 10%;
    color:white;
    /* border: solid white; */
    margin: 0;
   
}
.scheduling-alghoritm-image-box {
    background-image: url(pictures/backgr_image_task.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 300px;
    width: 100%;
    margin:0;
} 
.section-contact{
    background-color: #323232;
}
.box-on-input{
    display: flex;
width: 100%;
}
.message-form{
    display: flex;
    flex-direction: column;
    color: black;
    margin: 0 0 0 5vw;
    padding: 2%;
    border-radius: 5px;
    width: 40%;
}
.fourth-header-contact-section{
    margin:0 0 1% 0;
    font-size: 20px;
    color:white;
    text-shadow: 2px 2px 3px black;
    letter-spacing: 2px
}
.label-contact-section{
    margin:  0 0 2vh 0;
    
}
.input-contact-section{
    background-color: #df9f50;
    border-radius: 8px;
    width: 50%;
    margin: 0.3% 0 0 0;
    height: 35px;
    box-shadow:10px 10px 10px 1px black;
}
.message-box-textarea{
    position: relative;
    height: 200px;
    /* background-color: black; */
    color: white;
    width: 100%;
}
.submit-button{
    background-color: white;
    min-width: 13%;
    max-width: 15%;
    color: black;
    align-self:flex-end;
}
.submit-button:hover{
    background-color: black;
    color:white;

}
.message-label{
    position: relative;
    /* border:solid red; */
    display: flex;
}

.message-box-textarea::placeholder{
    padding: 175px 0 0 0;
}
input[type="text"] {
    font-size: 20px;
    padding:0 2% 0 2%;
    color: black;
}
textarea[type="text"]{
    position: relative;
    font-size: 20px;
    color:black;
    padding:2%;
    font-family: 'Ubuntu',
    sans-serif;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 0.7; 
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
  }